<p><%= link_to 'Add Comment', new_forum_topic_comment_path(@topic.forum,@topic),{remote: true} %></p> </br>
<div id="comment_form"></div>
<h3>Listing Comments Of <%=@topic.subject%></h3>

<table class="table table-striped">
  <thead>
  <tr><th>Comments</th>
    
  </thead>
  <tbody id="comments_list">
<% @comments.each do |comment|%>
<tr id="comment_<%=comment.id%>">
<td><%=comment.body %>
Like Count: [<%= Like.get_like_count(comment.class,comment.id) %>]
      <%= link_to "like it!!", like_path(:resource_name => comment.class,
                                         :resource_id   => comment.id),
                                         :method => :post %>
     <%= link_to "unlike it!!", unlike_path(
                                        :resource_name => comment.class,
                                        :resource_id   => comment.id),
                                        :method => :delete %>



 </td>
<td><%=link_to 'Delete',forum_topic_comment_path(@topic.forum, @topic,comment),{method: :delete} %> </td>
<td>
<%= social_share_button_tag(comment.body, :url => (forum_topic_comment_url(@topic.forum, @topic,comment) +'#comment_'+comment.id.to_s )) %></td>
</tr>
<%end%>
</tbody>
</table>