<!DOCTYPE html>
<html>
<head>
  <title>Forum Assignment</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %> 
</head>
<body>
<header>
	<% if user_signed_in? %>
	  <li>Welcome <%=current_user.email%></li>
	  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
	  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
	<% else %>
	  <li><%= link_to 'Sign in', new_user_session_path %></li>
	  <li><%= link_to 'Sign up', new_user_registration_path %></li>
	<% end %>
</header>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
